.navigation-search-form-big {
    margin: 30px auto 10px auto;
}

.search-textbox-big {
    font: 48px acumin-pro, Arial, Helvetica, sans-serif;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(219, 219, 219);
    width: 100%;

    padding: 8px 16px 12px 16px;

    line-height: 64px;
}

.search-textbox-big:focus {
    outline: none;
    border-color: rgb(177, 177, 177);
}